body {
  margin: 0;
  background: #c0c0d0;
}

.header {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 5px;
}

.header.full {
  margin: 45px 10px 5px;
}

.game-container {
  min-height: calc(100vh - 80px);
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-container.full {
  height: 100vh;
}

canvas {
  width: 100%;
  touch-action: none;
}

#ballImage {
  height: 24px;
  width: 24px;
}

#nBall {
  font-size: 24px;
  margin-left: 10px;
}

#mickeyImage {
  width: 1px;
  position: fixed;
  left: 0;
  top: 0;
}

#level {
  font-size: 20px;
}

.settings {
  position: absolute;
  right: 0;
  bottom: 0;
}

.settings .toggle-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: transparent;
  font-size: 24px;
  border: none;
  padding: 0;
  z-index: 998;
  cursor: pointer;
}

.settings .inputs {
  background: #202020c0;
  padding: 30px 15px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 250px;
  font-size: 24px;
  color: white;
}

.speed-setting {
  display: flex;
  align-items: center;
}

.inputs label {
  margin-right: 10px;
}

.size-setting input {
  width: 40px;
  margin: 0 15px;
  font-size: 24px;
}

.speed-setting input {
  flex-grow: 1;
}

.game-over-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #202020c0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}

.foobar {
  flex-grow: 0.382;
}

.game-over-info {
  padding: 0px 45px 10px;
  font-size: 24px;
  text-align: center;
  background: #f0f0f0;
  border: 2px solid;
  border-radius: 10px;
}

#restart {
  font-weight: bold;
  margin-left: 15px;
  cursor: pointer;
}
