body {
  margin: 0;
  background: #f0f0f0;
}

.header {
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 5px;
}

.game-container {
  max-width: 500px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

canvas {
  width: 100%;
}

#ballImage {
  height: 24px;
  width: 24px;
}

#nBall {
  font-size: 24px;
  margin-left: 10px;
}

#level {
  font-size: 20px;
}

.settings {
  position: absolute;
  right: 0;
  bottom: 0;
}

.settings .toggle-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: transparent;
  font-size: 24px;
  border: none;
  padding: 0;
  z-index: 999;
}

.settings .inputs {
  background: #303030a0;
  padding: 30px 15px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 250px;
  font-size: 24px;
  color: white;
}

.speed-setting {
  display: flex;
  align-items: center;
}

.inputs label {
  margin-right: 10px;
}

.size-setting input {
  width: 30px;
  margin: 0 15px;
  font-size: 24px;
}

.speed-setting input {
  flex-grow: 1;
}
